<script type="module" setup>
import { reactive, computed } from "vue";
import { VueFinalModal } from "vue-final-modal";
import { useDispath, useSelector } from "../../../providers/reduxHelpers";

import { loginActions } from "../handlers/loginSlice";

const dispatch = useDispath();
const token = useSelector((state) => state.login.token);
const loginLoading = useSelector((state) => state.login.loginLoading);

let data = reactive({});

const handleLogin = () => {
  if (data.user == "hola" && data.pass == "1234") {
    dispatch(loginActions.login(data));
  } else {
    data.error = "usuario y/o clave invalido/s";
  }
};
</script>

<template>
  <div class="h-full" v-if="token">
    <slot></slot>
  </div>
  <div v-else>
    <vue-final-modal
      v-model="token"
      :click-to-close="false"
      :esc-to-close="false"
      content-class="flex items-center justify-center w-full h-full bg-transparent"
    >
      <div class="bg-white rounded p-4 flex flex-col gap-4">
        {{ token }}
        <h1 class="text-xl text-center">Bienvenido</h1>
        <div class="flex flex-col gap-3">
          <input
            v-model="data.user"
            class="p-1 shadow-inner shadow-slate-300 border border-gray-200"
            placeholder="Usuario"
          />
          <input
            v-model="data.pass"
            class="p-1 shadow-inner shadow-slate-300 border border-gray-200"
            placeholder="Password"
          />
        </div>
        <div v-if="!!data.error">
          <div class="text-red-600">{{ data.error }}</div>
        </div>
        <button
          v-bind:disabled="loginLoading"
          class="border border-blue-700 bg-blue-600 disabled:border-slate-500 disabled:bg-slate-400 text-white px-2 py-1 shadow rounded"
          @click="handleLogin"
        >
          Ingresar
        </button>
      </div>
    </vue-final-modal>
  </div>
</template>

<style lang="scss" scoped></style>
