<script type="module" setup>
import { todoActions } from "../handlers/todoSlice";
import { useDispath, useSelector } from "../../../providers/reduxHelpers";

const dispatch = useDispath();
const todos = useSelector((state) => state.todos);
const update = () => {
  dispatch(todoActions.addTask("Hello world"));
};
</script>

<template>
  <div>
    <button @click="update">update state</button>
    <ul>
      <li v-for="(item, idx) in todos.todoList" :key="idx">{{ item }}</li>
    </ul>
  </div>
</template>

<style lang="scss" scoped></style>
