<script setup>
import { ModalsContainer } from "vue-final-modal";
import LoginPage from "../../login/pages/LoginPage.vue";
</script>

<template>
  <login-page>
    <div class="flex flex-col h-full">
      <div
        class="h-16 p-4 flex gap-4 text-white text-lg items-center bg-orange-600 shadow shadow-slate-600"
      >
        <img class="h-full" src="@/assets/logo.svg" alt="" />
        <div class="">Bienvenido</div>
      </div>

      <div class="flex-grow flex flex-row">
        <div class="flex flex-col bg-blue-900 shadow shadow-slate-600 w-60 p-4">
          <router-link to="/">Home</router-link>
          <router-link to="/about">About</router-link>
          <router-link to="/todo">Todo</router-link>
        </div>
        <div class="p-4">
          <router-view></router-view>
        </div>
      </div>
    </div>
  </login-page>
  <ModalsContainer />
</template>
